@tailwind base;
@tailwind components;
@tailwind utilities;

/* Metallic Chic Theme */
:root {
  --primary: #3D52A0; /* Dark Blue */
  --secondary: #7091E6; /* Light Blue */
  --accent: #8697C4; /* Muted Blue */
  --background: #ADBBDA; /* Soft Grey-Blue */
  --text: #EDEBF5; /* Light Grey */
}

/* Apply the theme */
body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--text);
}
